* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 234);
    min-height: 100%;
}

.card {
    min-height: 100vh;
    background-color: $lightest-color;
}

.container {
    padding-top: 35px;
}   

@mixin margins {
    margin-left: auto;
    margin-right: auto;
}

@mixin transition-ease-sweet {
    transition: all 0.5s ease-in-out;
}
@mixin transition-ease-fast {
    transition: all 0.3s ease-in-out;
}

@mixin media-sm {
    @media (min-width: 320px) and (max-width: 599px) {
        .bells , .conf , .order-footer__icon-home , .order-footer__icon-pic , .order-footer__icon-user {
            font-size: 20px;
        }
    } 
}

@mixin media-md {
    @media (min-width: 600px) and (max-width: 767px) {
        .card {
            margin-left: auto;
            margin-right: auto;
        }
    } 
}

@mixin media-lg {
    @media (min-width: 768px) and (max-width: 1023px) {
        .card{
            margin-left: auto;
            margin-right: auto;
        }
    } 
}

@mixin media-xl {
    @media (min-width: 1024px) {
        .card{
            width: 320px;
            height: 568px;
            margin-left: auto;
            margin-right: auto;
        }

        .orders__lists-drag-down {
            width: 320px;
        }

        .orders {
            width: 320px;
        }
        .order-footer {
            width: 320px;
            height: 134px;
        }
        .order-footer__icon_pic {
            margin-top: 0px;
        }
    } 
}