include user-data.pug
include order-details.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ui Test
        link(rel="stylesheet" href="./dist/css/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet")
    body
        div.card
            div.container
                div.notifications-container
                    div.notifications-container__alerts
                        i.far.fa-bell.bells
                    div.notifications-container__settings
                        i.fas.fa-cog.conf

                div.reminders-container
                    div.container.primary-font
                        h1.reminders-container__title Reminders
                        hr.reminders-container__title-margin

                div.orders
                    div.orders__table-text-header.secondary-font#pr RECEPIENT
                    div.orders__table-text-header.secondary-font DEADLINE
                    div.orders__table-text-header.secondary-font AMOUNT
                
                div.lists  
                    each user in userData
                        div(onclick='clickMe()').orders__lists
                            div.orders__recepient__img
                                img(src=user.img , alt="").orders__profile-images
                            div.orders__recepient__text
                                span.secondary-font.weights-font= user.recepient
                            div.orders__deadline
                                span.secondary-font.weights-font= user.deadline
                            div.orders__amount
                                span.secondary-font.amounts-w= user.amount

                        div.orders__lists-drag-down
                            +orderDetails(user.localitation , user.img_p1 , user.img_p2 , user.img_p3 , user.img_p4)
                                    

                    
            div.order-footer.styles-footer
                div.order-footer__icon-home
                    hr.order-footer__margin-footer
                    i.fas.fa-home
                div.order-footer__icon_pic
                    div.order-footer__circle-btn
                        div.order-footer__image
                            img(src="./dist/img/icons/enfoque.svg", alt="enfoque").order-footer__enfoque
                div.order-footer__icon-user
                    i.fas.fa-user-friends

        script(src="https://kit.fontawesome.com/bf947ba2d3.js" crossorigin="anonymous")  
        script(src="./dist/js/index.controller.js")       
            